<div class="container py-5">
    <div class="review-heading mt-5">
        <button>guest feedback</button>
        <h1>Product Review System</h1>
        <p>We value your feedback. Share your experience to help us improve and help other <br> guests make informed decisions.</p>
    </div>
    <div class="row g-3 mt-5">
        <div class="col-md-6">
            <app-form-review [roomId]="roomId"></app-form-review>
        </div>
        <div class="col-md-6">
            <app-form-comment [roomId]="roomId"></app-form-comment>
        </div>
    </div>
</div>
