





  
<section>
    <div class="container-fluid">
        <div class="row padding-x ">
            <div class="col-lg-6  text-form">
                <div>
                    <h1 class="logo"><span>Stay</span>cation.</h1>
                </div>
              <form    class="w-75 mx-auto  my-5">
                <div class="title-form  ">
                    <h2>Reset password</h2>
                    <p>Already have an account<br>You can <a routerLink="/Auth/login">Login here !</a></p>
                </div>


               


                
 
                  <mat-form-field appearance="outline" class="w-100 ">
                    <mat-label>Email</mat-label>
                    <input   type="email" matInput placeholder="Enter your email">
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="w-100 ">
                    <mat-label>OTP</mat-label>
                    <input    type="text" matInput placeholder="Enter your OTP">
                  </mat-form-field>

                 


                  <div class="position-relative ">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Password</mat-label>
                        <input  [type]="hidepass? 'password' : 'text'" matInput placeholder="Enter your password">
                      </mat-form-field>
                      <i (click)="toggleSee()" class="fa-solid see-pass gray" [class]="hidepass?'fa-eye-slash':'fa-eye'"></i>
                  </div>


                  <div class="position-relative ">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Confirm Password</mat-label>
                        <input   [type]="hidepass? 'password' : 'text'" matInput placeholder="Enter your confirm password">
                      </mat-form-field>
                      <i (click)="toggleSee()" class="fa-solid see-pass gray" [class]="hidepass?'fa-eye-slash':'fa-eye'"></i>
                  </div>


              
 

                  <button type="submit" class="btn btn-primary d-block">Send</button>

              </form>
            </div>

            <div class="col-lg-6 image-form rounded-5 ">
                <div class="text-image">
                    <h3 >Reset Password</h3>
                    <p >Homes as unique as you.</p>
                </div>
            </div>
        </div>
    </div>
</section>
