<footer >
    <hr class="mt-0">
    <div class="container bg-white py-4">
        <div class="row gx-5 gy-3">
        <div class="title col-md-3 col-sm-6">
            <h4 > <span>Stay</span>cation.</h4>
            <p>We kaboom your beauty holiday
                instantly and memorable</p>
        </div>
        <div class="links col-md-3 col-sm-6">
            <h3>For beginners</h3>
            <ul >
            <li><a routerLink="/Auth/register">New account</a></li>
            <li><a routerLink="">Book a new room</a></li>
            <li><a routerLink="">Use payments</a></li>
            </ul>
        </div>
        <div class=" col-md-3 col-sm-6">
            <h3>Explore us</h3>
            <p>Our career</p>
            <p>Privacy</p>
            <p>Terms&Conditions</p>
        </div>

        <div class="col-md-3 col-sm-6">
            <h3>Contact us</h3>
            <p>Support&#64;staycation.id</p>
            <p>021-2208-1996</p>
            <p>Staycation, Kemang, Jakarta</p>
            
        </div>


        
                </div>

              
                </div>
                <div class="copy-right text-center ">
                    <p >Copyright &copy; 2025 All rights reserved Sabry Elsawy</p>
                </div>
</footer>
