
<section>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-6  text-form">
                <div>
                    <h1 class="logo"><span>Stay</span>cation.</h1>
                </div>
              <form     class="w-75 mx-auto  my-5">
                <div class="title-form  ">
                    <h2>Forgot password</h2>
                    <p>Already have an account <br>You can <a routerLink="/Auth/login">Login here !</a></p>
                </div>


                <mat-form-field appearance="outline" class="w-100 my-3 mt-3">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" type="email" matInput placeholder="Enter your email">
                  </mat-form-field>

              

                  <button type="submit" class="btn btn-primary d-block">Send mail</button>

              </form>
            </div>

            <div class="col-lg-6 image-form rounded-5 ">
                <div class="text-image">
                    <h3 >Forgot Password</h3>
                    <p >Homes as unique as you.</p>
                </div>
            </div>
        </div>
    </div>
</section>