<section class=" mt-5 pt-5">
    <div class="container pt-2">
        <div class="heading">
            <div class="main-heading text-center py-2">
                <h1>Room Details</h1>
            </div>
            <div class="Breadcrumb">
                <div class="d-flex align-items-center">
                    <span><i class="fa-solid fa-house text-color"></i></span>
                    <span routerLink="/landing-page/home" class="text-color"> Home</span>
                    <span class="text-color"><i class="fa-solid fa-chevron-right"></i></span>
                    <span class="main-color">Room Details</span>
                </div>
            </div>
        </div>
    </div>
 </section>


 <!-- =============================================== -->

 <section class="py-4">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-6">


                <div class="gallery-container">
                    <div class="main-image-container w-100">
                      <button (click)="moveGallary('prev')" [disabled]="selectedImageIndex === 0" class="gallery-nav prev" title="Previous Image">
                        <i class="fas fa-chevron-left"></i>
                      </button>
                      <img [src]="roomImages[selectedImageIndex]" class="main-room-image" alt="Room image">
                      <div class="facilities-name"  >
                        <i class="fas fa-tag me-2"></i>
                        {{room.facilities[0].name}}
                      </div>
                      <button (click)="moveGallary('next')" [disabled]="selectedImageIndex ===  roomImages.length - 1" class="gallery-nav next" title="Next Image">
                        <i class="fas fa-chevron-right"></i>
                      </button>
                    </div>


                    <div class="thumbnails-container mt-3">
                      @for (index of visibleThumbnails; track index) {
                        <div class="thumbnail-wrapper">
                          <div class="thumbnail-container" 
                               [class.active]="selectedImageIndex === index"
                               (click)="setSelectedImage(index)">
                            <img [src]="roomImages[index]" class="thumbnail-image" alt="Thumbnail image of the room">
                          </div>
                        </div>
                      }
                    </div>

                   
                  </div>



            </div>

             <div class="col-lg-6">
         <div class="card-details">
          <div class="room-title">
            <h3>{{room.facilities[0].name}}</h3>
            <button type="button">Review & Comment </button>
          </div>

          <div class="rating-container mb-3">
            <div class="stars">
              @for (star of [1,2,3,4,5]; track star) {
              <i class="fas fa-star"></i>
              }
            </div>
          </div>



          <div class="price-section mb-4">
            <div class="current-price"> {{calculateDiscountedPrice(room.price , room.discount) | currency }}</div>
            <div class="original-price">{{room.price | currency }}</div>
            <div class="discount-badge"> {{room.discount}}%</div>
          </div>

          <p class="description mb-4">Experience luxury and comfort in our
             spacious Deluxe Ocean View Suite. This premium accommodation offers
              breathtaking views of the ocean, elegant furnishings, and all the 
              amenities you need for an unforgettable stay.</p>


              <button (click)="toggleBookingForm()" class="booking-button">
                {{room.isBooked ? 'Room is Booked' : (showBookingForm ? 'Hide Booking Form' : 'Start Booking')}} <i class="fas fa-calendar-check ms-2"></i>
              </button>

         </div>
             </div>
        </div>
    </div>
 </section>
