 <section class=" mt-5 pt-5 ">
    <div class="container pt-2">
        <div class="heading">
            <div class="main-heading text-center py-2">
                <h1>Your Room Favorites</h1>
            </div>
            <div class="Breadcrumb">
                <div class="d-flex align-items-center">
                    <span><i class="fa-solid fa-house text-color"></i></span>
                    <span routerLink="/landing-page/home" class="text-color"> Home</span>
                    <span class="text-color"><i class="fa-solid fa-chevron-right"></i></span>
                    <span class="main-color">Favorite</span>
                </div>
            </div>
        </div>
    </div>
 </section>



 <section class="fav mb-4">
    <div class="container">
        <div class="heading-rooms mb-5 mt-4">
            <h4>Your Rooms</h4>
        </div>
        <div class="row g-3">
            <div *ngFor="let room of allRoomFav" class="col-md-6 col-lg-4 col-xl-3">
                <div class="card w-100">
                    <div class="room-image w-100">
                        <img class="w-100" [src]="room.images[0]" alt="roomImg">
                        <a (click)="removeFromFav(room._id)"  class="remove-fav"><i class="fa-solid fa-heart"></i></a>
                        <a class="room-details"><i class="fa-solid fa-eye"></i></a>
                        <span class="room-number">{{room.roomNumber}}</span>
                    </div>
                    <div class="details">
                        <h6 class="mb-1">Room {{room.roomNumber}}</h6>
                        <div class="capacity">
                            <i class="fa-solid fa-users me-2"></i>{{room.capacity}} Persons
                        </div>
                        <div class="price">
                            <p class="mb-0"><span>{{room.price | currency }}</span>/night</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>




  