.main-color{
    color: var(--main-text-color);
}
.text-color{
    color: var(--text-color);
}
.heading .main-heading h1{
    font-size: 2.25rem;
    line-height: 2.5rem;
    letter-spacing: -0.025em;
    font-weight: 700;
    color: var(--primary-color);
}
.Breadcrumb{
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    i{
        margin: 0 0.5rem;
        font-size: 0.7rem;
    }
    .fa-house{
        font-size: 1rem;
    }
    span{
        cursor: pointer;
    }
}


.fav .heading-rooms h4{
    font-size: 1.5rem;
    color: var(--primary-color);
}


.card{
    background-color: #fff;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 5px 5px 20px 0px;
    border-radius: 20px;
    overflow: hidden;
   .room-image{
    position: relative;
    height: 15rem;
    overflow: hidden;
    img{
        height: 100%;
        object-fit: cover;
        transition: transform .6s ease;
    }
    a{
        display: block;
        position: absolute;
        right: .75rem;
        color: #fff;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 50%;
        background-color: rgb(255 73 139 );
    }
    i{
        cursor: pointer;
    }
    .remove-fav{
        top: .75rem;

        transition: all .3s ease;
    }
    .remove-fav:hover{
        color:rgb(255 73 139 ) ;
        background: #fff;
    }
    .room-details{
        top: 3.5rem;
        opacity: 0;
        transition: all .3s ease;
    }
    .room-details:hover{
        color:rgb(255 73 139 ) ;
        background: #fff;
    }
    &:hover .room-details{
        opacity: 1;
    }
    .room-number{
        position: absolute;
        bottom: .75rem;
        left: .75rem;
        color: #fff;
        font-size: 1.1rem;
    }
}
.details{
    padding: 10px;
    h6{
        color: var(--primary-color);
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 500;
    }
    .capacity{
        color: var(--text-color);
        margin:  10px 0;
        i{
            color: var(--main-text-color) !important;
        }
    }
    .price{
        color: var(--text-color);
        span{
            color: var(--primary-color);
            font-size: 20px;
            font-weight: bold;
        }
    }
}
&:hover img{
    transform: scale(1.1);
}
}