
<section class="mt-5 py-5">
    <div class="container">
<div class="content-heading d-flex justify-content-between align-items-center">
    <div class="heading mt-4">
        <div class="Breadcrumb">
            <div class="d-flex align-items-center">
                <span routerLink="/landing-page/home" class="text-color">Home</span>
                <span class="text-color"><i class="fa-solid fa-chevron-right"></i></span>
                <span class="main-color">Explore</span>
            </div>
        </div>
        <div class="explore d-flex   align-items-center mt-3 ms-2">
         <div (click)="goBack()" class="icon me-3">
            <i class="fa-solid fa-arrow-left "></i>
         </div>
            <h2>Explore</h2>
        </div>
    </div>
    <div class="search-input w-50">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input [(ngModel)]="searchTerm" type="search" placeholder="Search by number of person">
    </div>
</div>


<div class="main-heading">
    <button   type="button"><i class="fa-brands fa-discourse me-1"></i>Discover</button>
    <h1>Explore All Rooms</h1>
    <p>Find your perfect stay from our carefully curated selection of premium  accommodations.</p>
</div>


        </div>
</section>

 


<section class="rooms mb-5">
    <div class="container">
        <div class="row g-3">
            <div *ngFor="let room of tableDataRomms | search:searchTerm" class="col-md-6 col-lg-4 col-xl-3">
                <div class="card w-100 ">
                    <div class="room-image w-100">
                        <img class="w-100" [src]="room.images[0]" alt="">
                        <span class="discount">{{room.discount}}% OFF</span>
                        <span class="room-status" [class.booked]="room.isBooked">{{room.isBooked? 'Booked' : 'Available'}}</span>
                        <span class="room-number">{{room.roomNumber}}</span>

                        <div class="hover-layer">
                            <div class="icon-wrapper">
                                <a (click)="toggleFavorite(room._id)" class="icon-btn"  >
                                    <i [class.fav]="room.isFav"  class="fa-solid fa-heart"></i>
                                </a>
                                <a [routerLink]="['/landing-page/room-details',room._id]" class="icon-btn" >
                                    <i  class="fa-regular fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="room-details">
                     <div class="facility">
                        <span *ngFor="let facility of room.facilities">{{facility.name}}</span>
                     
                   
                     </div>
                     <div class="details mt-2 d-flex      align-items-center  justify-content-between">
                        <div class="price">
                            <p class="mb-0"> <span class="original-price me-2">{{calculateDiscountedPrice(room.price , room.discount) | currency }}</span> <span class="current-price">{{room.price |currency}}</span> /night</p>
                        </div>
                        <div class="capacity">
                            <i class="fa-solid fa-user me-2"></i>
                            <span>{{room.capacity}} Person</span>
                        </div>
                     </div>
                    </div>
                
                </div>
            </div>
        </div>

        <div class="pagination-container d-flex justify-content-center align-items-center mt-5 flex-wrap">
            <div class="d-flex align-items-center flex-wrap gap-2">
                <div class="d-flex align-items-center">
                    <span class="me-2">Items per page:</span>
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="pageSizeDropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{ itemsPerPage }}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="pageSizeDropdown">
                            <li><a class="dropdown-item" (click)="changePageSize(5)">5</a></li>
                            <li><a class="dropdown-item" (click)="changePageSize(10)">10</a></li>
                            <li><a class="dropdown-item" (click)="changePageSize(20)">20</a></li>
                            <li><a class="dropdown-item" (click)="changePageSize(50)">50</a></li>
                        </ul>
                    </div>
                </div>
                <span class="mx-2">{{ startItem }} – {{ endItem }} of {{ totalNumOfRooms }}</span>
                <div class="pagination-arrows">
                    <button class="btn btn-outline-secondary me-2" [disabled]="currentPage === 1"
                        (click)="previousPage()" title="Go to previous page">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                    <button class="btn btn-outline-secondary" [disabled]="currentPage === totalPages"
                        (click)="nextPage()" title="Go to next page">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
        
    </div>

    



</section>














  