 
<div class="Ads">
    <div class="filters-container">
        <div class="heading ">
            <div class="d-flex justify-content-between align-items-center my-3">
                <h1>Ads Table Details</h1>
                <button (click)="openModelAddAds()" >Add Ads</button>
            </div>
            <div class="filter-input">
                <i class="fa-brands fa-searchengin"></i>
                <input    type="search" placeholder="Search for ads using active..."   />
            </div>
        </div>
    </div>



    <div class="table-responsive mt-4">
        <table class="table">
            <thead>
                <tr class="text-center ">
                    <th >Room Image</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Capacity</th>
                    <th>Active</th>
                    <th >Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let ads of AllAds"  >
                    <td>
                        <img class="image" [src]="ads.room.images[0]" alt="ads image">
                    </td>
                    <td> {{ads.room.price}}</td>
                    <td>  {{ads.room.discount}} </td>
                    <td> {{ads.room.capacity}} </td>
                    <td>  {{ads.isActive}}</td>
                    <td >
                        <i (click)="getAdsById(ads._id)"   class="fa-solid fa-eye"></i>
                        <i (click)="getAdsByIdForEdit(ads._id)" class="fa-solid fa-pen-to-square mx-2"></i>
                        <i (click)="deleteAds(ads._id)"  class="fa-solid fa-trash"></i>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>




<!-- display rooms on phone screen -->

<div class="cards-phone">
    <div  >
        <div class="rooms-card" *ngFor="let ads of AllAds"  >
            <div class="user-card-header d-flex align-items-center">
                <img [src]="ads.room.images[0]" alt="User Profile" class="user-avatar-sm rounded-circle me-3">
                <span class="user-id">{{ads.room.roomNumber}}</span>
            </div>
            <div class="user-card-body">
                <div class="user-info">
                    <p><i class="fa-solid fa-dollar-sign"></i>Price: {{ads.room.price}}</p>
                    <p><i class="fa-solid fa-percent"></i> Discount: {{ads.room.discount}}%</p>
                    <p><i class="fa-solid fa-users"></i>Capacity: {{ads.room.capacity}}</p>
                    <p><i class="fa-solid fa-user"></i>User: {{ads.createdBy.userName}}</p>
                </div>
                <div class="rooms-actions d-flex justify-content-between align-items-center">
                    <button  (click)="getAdsById(ads._id)"  class="btn btn-sm  view me-2"  >
                        <i class="fas fa-eye"></i> View
                    </button>
                    <button (click)="getAdsByIdForEdit(ads._id)" class="btn btn-sm edit  me-2"  >
                        <i class="fa-solid fa-pen-to-square "></i> Edit
                    </button>
                    <button (click)="deleteAds(ads._id)"   class="btn btn-sm delete  me-2"  >
                        <i  class="fa-solid fa-trash"></i> Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>






<div class="pagination-container d-flex justify-content-center align-items-center my-4">
    <div class="d-flex flex-column flex-sm-row align-items-center">
        <div class="d-flex align-items-center mb-2 mb-sm-0">
            <span class="me-2 small">Items per page:</span>
            <div class="dropdown">
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button"
                    id="pageSizeDropdownMobile" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ itemsPerPage }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="pageSizeDropdownMobile">
                    <li><a class="dropdown-item" href="javascript:void(0)" (click)="changePageSize(5)">5</a>
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0)" (click)="changePageSize(10)">10</a>
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0)" (click)="changePageSize(20)">20</a>
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0)" (click)="changePageSize(50)">50</a>
                    </li>
                </ul>
            </div>
        </div>
        <span class="mx-sm-4 small">{{ startItem }} – {{ endItem }} of {{ totalNumOfAds }}</span>
        <div class="pagination-arrows mt-2 mt-sm-0">
            <button class="btn btn-sm btn-outline-secondary me-2" [disabled]="currentPage === 1" title="Go to previous page"
                (click)="previousPage()">
                <i class="fas fa-chevron-left"></i>
            </button>
            <button class="btn btn-sm btn-outline-secondary" [disabled]="currentPage === totalPages"
                (click)="nextPage()" title="Go to next page">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </div>
</div>
 




<!-- ads details -->


<div class="custom-modal"  *ngIf="showModel"  >
    <div class="modal-backdrop"  ></div>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title ">Ads Details</h5>
                <button (click)="closeModel()"   type="button" class="btn-close" title="Close"></button>
            </div>
            <div class="modal-body"  *ngIf="selectedAds" >
                <div class="text-center mb-4">
                    <img [src]="selectedAds.room.images[0]" alt="User Profile"
                        class="user-modal-avatar rounded-circle">
                    <h4 class="mt-3 font-simibold font-md"> {{selectedAds.room.roomNumber}} </h4>
                </div>
                <div class="user-details mt-5">
                    <div class="detail-item">
                        <span class="detail-label"><i class="fa-solid fa-id-card me-2"  ></i>Room ID:</span>
                        <span class="detail-value">{{selectedAds._id}}</span>
                    </div>
                    <div class="detail-item">
                        <span class="detail-label"><i class="fa-solid fa-dollar-sign me-2"></i>Price:</span>
                        <span class="detail-value">{{selectedAds.room.price}}</span>
                    </div>
                    <div class="detail-item">
                        <span class="detail-label"><i class="fa-solid fa-users me-2"></i>Capacity:</span>
                        <span class="detail-value">{{selectedAds.room.capacity}}</span>
                    </div>
                    <div class="detail-item">
                        <span class="detail-label"><i class="fa-solid fa-percent me-2"></i>Discount:</span>
                        <span class="detail-value">{{selectedAds.room.discount}}%</span>
                    </div>
                    <div class="detail-item">
                        <span class="detail-label"><i class="fa-solid fa-user-tie me-2"></i>Created By:</span>
                        <span class="detail-value"> {{selectedAds.createdBy.userName}} </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="closeModel()"  type="button" class="btn btn-danger" >Close</button>
            </div>
        </div>
    </div>
</div>
 



<!--Add ads   -->


<div class="custom-modal"  *ngIf="showModelAddAds"  >
    <div class="modal-backdrop"  ></div>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title ">Add Ads  </h5>
                <button (click)="closeModelAddAds()"   type="button" class="btn-close" title="Close"></button>
            </div>
            <div class="modal-body"    >
           
                <form [formGroup]="adsForm" (ngSubmit)="handleFormSubmit(adsForm)">
                    <label for="room-num ">Room Number:</label>
                    <select  formControlName="room" class="d-block w-100 form-control " id="room-num" title="Select a Room Number">
                        <option value="" disabled selected hidden>-- Select a Room Number--</option>
                        <option [value]="room._id" *ngFor="let room of allRooms" >{{room.roomNumber}}</option>
                    </select>

                    <label class="mt-3" for="Discount">Discount:</label>
                    <input type="number" id="Discount" class="d-block w-100 form-control mb-3" formControlName="discount" placeholder="Enter Discount" />

                    <label for="isActive">isActive:</label>
                    <select class="d-block w-100 form-control" id="isActive"   formControlName="isActive">
                        <option value="" disabled selected hidden>-- Select isActive --</option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </form>
                 
            </div>
            <div class="modal-footer">
                <button (click)="handleFormSubmit(adsForm)" type="submit" class="btn btn-success me-3">Add</button>
                <button (click)="closeModelAddAds()"  type="button" class="btn btn-danger" >Close</button>
            </div>
        </div>
    </div>
</div>





<!--edit ads   -->


<div class="custom-modal"  *ngIf="showModelEditAds"  >
    <div class="modal-backdrop"  ></div>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title ">Ads Editing </h5>
                <button (click)="closeModelEditAds()"   type="button" class="btn-close" title="Close"></button>
            </div>
            <div class="modal-body"  *ngIf="selectedAds"  >
           
            <div class="ads-details">
                
                <label class="mt-3" for="Discount">Discount:</label>
                <input type="number" id="Discount" class="d-block w-100 form-control mb-3" [(ngModel)]="discountEditing"  />

                <label for="isActive">isActive:</label>
                <select class="d-block w-100 form-control" id="isActive"   [(ngModel)]="isActiveEditing" >
                    <option value="" disabled selected hidden>-- Select isActive --</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>
                 
            </div>
            <div class="modal-footer">
                <button (click)="editAds()"   type="submit" class="btn btn-success me-3">Edit</button>
                <button (click)="closeModelEditAds()"  type="button" class="btn btn-danger" >Close</button>
            </div>
        </div>
    </div>
</div>
