

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Hotel-primary: mat.define-palette(mat.$indigo-palette);
$Hotel-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Hotel-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Hotel-theme: mat.define-light-theme((
  color: (
    primary: $Hotel-primary,
    accent: $Hotel-accent,
    warn: $Hotel-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Hotel-theme);

/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #1c3a76;
    --secondary-color: #ff498b;
    --accent-color:#152c5b;
    --main-text-color:#3252df;
    --title-color:#1f458f ;
    --text-color: #a9a9a9;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

 

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-outer-spin-button,
input[type="password"]::-webkit-password-toggle-button {
  display: none !important;
}
/* إخفاء الأزرار في متصفحات WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* إخفاء الأزرار في متصفح Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}
 
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

@keyframes pulse-slow  {
  0%{
      box-shadow: rgba(255, 73, 139, 0.384) 0px 0px 0px 0.572864px;
  }
  50%{
      box-shadow: rgba(255, 73, 139, 0.384) 0px 0px 5px  5px;
  }
  100%{
      box-shadow: rgba(255, 73, 139, 0.384) 0px 0px 0px 0.572864px;
  }
}
@keyframes fadeIn {
  0%{
      transform: translateY(10px);
  }
  100%{
      transform: translateY(0px);
  }
}
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';